svg.bi {
  vertical-align: baseline;
  width: 1em;
  height: 1em;

  &.bi-arrow-up-right {
    vertical-align: sub;
    margin-left: .1em;
    margin-bottom: .1em;
  }

  &.bi-chevron-down {
    vertical-align: sub;
    margin-left: .25rem;
  }
}

.pagination {
  svg.bi {
    vertical-align: middle;
  }
}
