.top-btn {
  display: none;
  position: fixed;
  visibility: hidden;
}

@include media-breakpoint-up(md) {
  .top-btn {
    visibility: visible;
    justify-content: center;
    align-items: center;
    bottom: 8rem;
    right: 5rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    z-index: 99;
    background-color: $white;
    border-color: $white;

    svg {
      fill: #5f6368;
    }
  }
}
