---
import config from "../config"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="version" content={config.version} />
    <title>Astro</title>
  </head>
  <body class="flex justify-center">
    <div class="max-w-xl">
      <!-- Before -->
      <button
        class="tw-text-white tw-px-4 sm:tw-px-8 tw-py-2 sm:tw-py-3 tw-bg-red-500 hover:tw-bg-sky-800"
        >...</button
      >

      <!-- After -->
      <button
        class="tw-bg-sky-700 tw-px-4 tw-py-2 tw-text-white hover:tw-bg-sky-800 sm:tw-px-8 sm:tw-py-3"
        >...</button
      >
    </div>
  </body>
</html>
