---
import config from "../config"
import Styles from "../components/Styles.astro"
import Scripts from "../components/Scripts.astro"

// console.log(config)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="version" content={config.version} />
    <Styles />
    <Scripts />
    <title>{config.title} | {config.description}</title>
  </head>
  <body class="">
    <div class="prose mx-auto">
      <h1>Aaa</h1>
    </div>
  </body>
</html>
