---
import config from "../config"
import Styles from "../components/Styles.astro"
import Scripts from "../components/Scripts.astro"

// console.log(config)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="version" content={config.version} />
    <Styles />
    <Scripts />
    <title>{config.title} | {config.description}</title>
  </head>
  <body class="flex justify-center">
    <div class="max-w-xl">
      <div
        class="btn-group"
        role="group"
        aria-label="Basic mixed styles example">
        <button type="button" class="btn btn-danger">Left</button>
        <button type="button" class="btn btn-warning">Middle</button>
        <button type="button" class="btn btn-success">Right</button>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>

      <!-- Before -->
      <button
        class="tw-text-white tw-px-4 sm:tw-px-8 tw-py-2 sm:tw-py-3 tw-bg-red-500 hover:tw-bg-sky-800"
        >...</button
      >

      <!-- After -->
      <button
        class="tw-bg-sky-700 tw-px-4 tw-py-2 tw-text-white hover:tw-bg-sky-800 sm:tw-px-8 sm:tw-py-3"
        >...</button
      >
    </div>
  </body>
</html>
