---
import config from "../config"
import Styles from "../components/Styles.astro"
import Scripts from "../components/Scripts.astro"
import Counter from "../components/Counter.astro"

// console.log(config)
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="version" content={config.version} />
    <Styles />
    <Scripts />
    <title>{config.title} | {config.description}</title>
  </head>
  <body class="">
    <div class="prose mx-auto">
      <!-- Before -->
      <button
        class="text-white px-4 sm:px-8 py-2 sm:py-3 bg-sky-700 hover:bg-sky-800"
        >...
      </button>

      <!-- After -->
      <button
        class="bg-sky-700 px-4 py-2 text-white hover:bg-sky-800 sm:px-8 sm:py-3"
        >...
      </button>

      <Counter>
        <h1>Hello, AlpineJS!</h1>
      </Counter>
      <Counter initialCount={5}>
        <h2>Use Astro to pass in server-side props</h2>
      </Counter>
    </div>
  </body>
</html>
