<script>
  var externalLinkIcon = {{ (resources.Get "icons/arrow-up-right.svg").Content | safeHTML | replaceRE "\n\\s*" "" }};
</script>

<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ca3370cfb1374ca08b78349f578ca024"}'></script>

{{ $jquery := resources.Get "js/jquery.js" }}
{{ $popper := resources.Get "js/popper.js" }}
{{ $bootstrap := resources.Get "js/bootstrap.js" }}
{{ $app := resources.Get "js/app.js" }}
{{ $mainJS := slice $jquery $popper $bootstrap $app | resources.Concat "main.js" }}
{{ with (getenv "PRODUCTION") }}
  {{ $mainJS = $mainJS | minify | fingerprint }}
{{ end }}
<script src="{{ $mainJS.Permalink }}" integrity="{{ $mainJS.Data.Integrity }}"></script>
