{{ define "title" }}
  {{ .Site.Title }} | {{ .Site.Params.description }}
{{ end }}
{{ define "main" }}
  <main class="container extraits">
    {{ .Content }}
    <article>
      <h1 class="text-center ds">Extraits</h1><br>
      {{ range where (where .Site.Pages "Type" "poeme") ".Params.feature" true }}
        <h2>{{ .Title }}</h2><br>
        {{ .Content }}
        <hr style="margin-bottom: 3rem; margin-top: 3rem;">
      {{ end }}
    </article>
  </main>
  {{ partial "top-btn" . }}
{{ end }}
